@import 'common'

.Breadcrumb
  display: flex
  flex-direction: row
  align-items: stretch
  margin: 1.25em
  line-height: 1.5

  border: 1px solid $lightGray
  border-radius: 0.125em
  +sans-serif-font()

  > a
    padding: 0.5em 1em

    &:hover
      background-color: $lightGray

  &__crumb
    border-left: 1px solid $lightGray

    &:first-child
      border-left: 0

    &:last-child
      flex: 1

    > form
      flex: 1
      height: 100%

      > input
        width: 100%
        height: 100%
        margin: 0
        padding: 0
        padding-left: 1em
        border: none
        outline: none
        background-color: transparent
        +sans-serif-font()

