@import 'common'

.Button
  display: inline-block
  margin: 0
  padding: 10px
  border: 2px solid $lightGray
  border-radius: 2px
  box-shadow: none
  transition: all 0.125s
  background-color: transparent
  +serif-font()

  &:focus,
  &:active
    background-color: white
    border-color: black
    outline: none

  &--block
    display: block
    width: 100%
    margin: 1em 0

.Button
  background-color: $lightGray
  color: black
  text-align: center
  +transition(all 0.125s)

  &:hover,
  &:active,
  &:focus
    border-color: black
    background-color: black
    color: white

  &--dangerous
    border-color: red
    background-color: red
    color: white

    &:hover,
    &:active,
    &:focus
      border-color: black
