@import 'common'

.List
  flex: 1
  margin: 1em 2em
  border-radius: 0.25em

.ListItem
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0.5em 0.75em
  margin: 0 -0.75em
  border-radius: 0.25em
  line-height: 1.5

  &:nth-child(even)
    background-color: $highlightGray

  &:hover
    background-color: black
    color: white

  &__title
    +ellipsis(100%)

  &__length
    margin: 0 1em

  &__timestamp
    color: $lightGray

@media screen and (max-width: $mobileBreakpoint)
  .ListItem
    &__length,
    &__timestamp
      display: none
