@import 'common'

.List
  flex: 1
  margin: 1em 2em

.ListItems
  border-radius: 0.25em
  margin: 0 -0.75em
  border: 1px solid black

.ListItem
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 0.5em 1em
  line-height: 1.5
  border-top: 1px solid black

  &:first-child
    border-top: 0

  &:hover
    background-color: black
    color: white

  &__title
    +ellipsis(100%)

  &__length
    margin: 0 1em

  &__length,
  &__timestamp
    color: $lightGray

@media screen and (max-width: $mobileBreakpoint)
  .ListItem
    &__length,
    &__timestamp
      display: none
