@import 'common'

.Pagination
  display: table
  width: 100%
  font-size: 0
  margin-top: 2em
  +sans-serif-font()

  & > span
    display: table-cell
    font-size: $baseFontSize
    text-align: center

  &__page,
  &__first,
  &__prev,
  &__next,
  &__last
    & > a
      display: block
      width: 100%
      padding: 2em 1em
      color: black

      &:hover
        background-color: $lightGray
        text-decoration: none

  &__gap,
  &__current
    color: lighten(black, 50%)
    padding: 2em 0.5em

  &__current
    background-color: $lightGray

  &__first,
  &__prev,
  &__next,
  &__last
    width: 10%

@media screen and (max-width: $mobileBreakpoint)
  .Pagination
    display: block

    & > span
      display: block
      border-top: 1px solid $lightGray

    &__page
      display: none

    &__first,
    &__prev,
    &__next,
    &__last
      width: 100%
