@import './common';

body {
  background-color: #eee;
}

figure {
  margin: 0;
}

img {
  display: block;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

p {
  margin: $unit 0;
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}
