// Units
$unit: 20px
$baseFontSize: 16px
$mobileBreakpoint: 600px
$smallScreenBreakpoint: 800px
$gridItemSize: 300px

// Colors
$lightGray: #ccc
$green: #05600b
$red: #a00c0c
$yellow: #f6db23

// Mixins
@mixin vendor($name, $argument)
  -webkit-#{$name}: #{$argument}
  -moz-#{$name}: #{$argument}
  -ms-#{$name}: #{$argument}
  -o-#{$name}: #{$argument}
  #{$name}: #{$argument}

@mixin serif-font()
  font-family: 'Times New Roman', times, serif
  font-size: $baseFontSize

@mixin sans-serif-font()
  font-family: sans-serif
  font-size: $baseFontSize

@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
