$unit: 20px;
$baseFontSize: 16px;
$bgColor: #eee;

@mixin vendor($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin serif-font() {
  font-family: 'Times New Roman', times, serif;
}
