@import './common'

form
  margin: $unit auto
  input
    display: block
    width: 100%
    margin: $unit 0

.button,
input
  display: inline-block
  margin: 0
  padding: 10px
  border: 2px solid #ccc
  border-radius: 0
  box-shadow: none
  @include sans-serif-font()
  background-color: transparent
  &:focus,
  &:active
    background-color: white
    border-color: black
    outline: none
  &.is-block
    display: block
    width: 100%
    margin: $unit 0

.button,
button,
input[type='submit']
  background-color: #ccc
  color: black
  text-align: center
  @include vendor(transition, all 0.125s)
  &:hover,
  &:active,
  &:focus
    border-color: black
    background-color: black
    color: white
  &.is-dangerous
    border-color: red
    background-color: red
    color: white
    &:hover,
    &:active,
    &:focus
      border-color: black