@import './common'

@include keyframes(fade-out)
  0%
    opacity: 1
  100%
    opacity: 0

// Common
// ------
.l-alerts
  position: fixed
  top: 0
  right: 0
  padding: $unit
  pointer-events: none
  color: black
  background-color: yellow
  text-transform: uppercase
  @include sans-serif-font()
  @include vendor(animation, fade-out 1s normal forwards)
  @include vendor(animation-delay, 1s)

.l-container
  margin: ($unit * 2)

.pagination
  & > span
    display: inline-block
    & > a
      text-decoration: underline
      color: black
      &:hover
        background-color: $borderColor
        text-decoration: none
    & > a,
    &.current
      display: inline-block
      padding: ($unit / 2) ($unit / 1.5)
    &.current
      color: lighten(black, 50%)
      background-color: $borderColor

.errors
  font-style: italic
  color: red

.breadcrumb
  white-space: nowrap
.breadcrumb-current
  font-style: italic
.breadcrumb-separator
  display: inline-block
  margin: 0 ($unit / 2)
  width: 1px
  height: 1em
  vertical-align: middle
  @include vendor(transform, rotate(45deg))
  background-color: black