@import './common';

// Common
// ------
.l-container {
  margin: ($unit * 2);
}

.pagination {
  text-align: center;
  & > span {
    display: inline-block;
    & > a {
      text-decoration: underline;
      color: black;
      &:hover {
        background-color: white;
        text-decoration: none;
      }
    }
    & > a,
    &.current {
      display: inline-block;
      padding: ($unit / 2) ($unit / 1.5);
    }
    &.current {
      color: lighten(black, 50%);
      background-color: white;
    }
  }
}

// Index
// -----
.images {
  font-size: 0;
  margin: $unit;
  text-align: center;
}

.image {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  // Reset font-size
  font-size: $baseFontSize;
  margin: $unit;
  & > a {
    display: block;
  }
}

.image-delete-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: $unit;
  color: white;
  font-size: $unit;
  &:hover {
    background-color: red;
  }
}

.image-add-link {
  display: block;
  position: fixed;
  top: $unit;
  right: $unit;
}

// Show
// ----
.full-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  & > span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    @include vendor(transform, translate(-50%, -50%));
    & > img {
      display: inline-block;
    }
  }
}
