<div class='image-show-stage'>
  <div class='image-show-stage-inner'>
    <%= link_to :root do %>
      <%= image_tag resize(url: @image.url, width: 900, height: 900) %>
    <% end %>
  </div>
</div>
